html {
    box-sizing: border-box;
    font-size: 100%;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* *::before, 
*::after {
    box-sizing: inherit; */
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-color: var(--pale-blue);
    background-size: contain;
    color: #7280a7;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    max-width: 450px;
    min-height: 540px;
    box-shadow: 0px 8px 9px 4px rgba(73, 60, 124, 0.3);
    margin-bottom: 50px;
}

.card-illustration img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding-bottom: 20px;
}


.order {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
}
    
.order h1 {
    padding-top: 20px;
    font-weight: 900;
    font-size: 30px;
    color: var(--dark-blue);
    padding-bottom: 15px;
}

.order p {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    line-height: 1.6;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.6;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
    width: 360px;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.plan img {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.plan h2 {
    font-size: 16px;
    color: var(--dark-blue);
    padding-right: 60px;
    line-height: 1;
}

.plan p {
    padding-right: 65px;
    font-size: 16px;
}

.plan a {
    font-weight: 700;
    color: var(--bright-blue);
    margin-right: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 14px;
}

.plan a:hover {
    transition: 0.2s; 
    color: #7280a7;     
    text-decoration: none;
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.payment .btn-payment {
    border-radius: 10px;
    width: 360px;
    height: 50px;
    background-color: var(--bright-blue);
    align-self: center;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    color: white;
    text-decoration: none;
    box-shadow: 0px 8px 9px 4px rgba(128, 113, 187, 0.3);
    margin-bottom: 30px;
    padding-top: 15px;
}

.payment .btn-payment:hover {
    background-color: hsl(245, 71%, 26%);
    transition: 0.3s;      
    color: white;
}

.payment .btn-cancel {
    color: var(--desaturated-blue);
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 10px;
}

.payment .btn-cancel:hover {    
    color: rgba(0, 0, 0, 0.815);
    transition: 0.3s; 
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width:425px) {
   .body {
        background: url(images/pattern-background-desktop.svg) no-repeat center/cover;
        background-image: url(images/pattern-background-mobile.svg);
    }

    .container {
        max-width: 85%;
    }

    .card-illustration img {
        height: auto;
    }

    .container .order p {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .order h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .plan, 
    .payment .btn-payment {
        width: 250px;
    }

    .plan img {
        margin-left: 15px;
    }
    
    .plan h2 {
        font-size: 13px;
        text-align: left;
    }

    .plan p {
        font-size: 13px;
        text-align: left;
    }

    .plan a {
        font-size: 12px;
        margin-right: 20px;
        margin-left: -40px;
    }

    .payment .btn-cancel,
    .payment .btn-payment {
        font-size: 13px;
    }

    .payment .btn-payment {
        height: 45px;
    }
}
